@import "../../../styles/media";
@import "../../../styles/typography";
@import "../../../styles/colors";

.contain {
  width: 100%;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0 0;
  margin: 0;

  @include desktop {
    gap: 42px;
  }

  @include tablet {
    gap: 34px;
  }

  @include mobile {
    gap: 23px;
  }
}

.title {
  @include font(desktop, h2);

  color: palette(black80);
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  width: 100%;
  justify-content: space-between;
  border-radius: 40px;
  background-color: palette(whiteGlass30);
  border: 1px solid palette(white100);
  box-sizing: border-box;
  padding: 5.5px 10px;
  
  @include desktop {
    height: 60px;
  }

  @include tablet {
    height: 50px;
  }

  @include mobile {
    height: 50px;
  }
}

.item {
  width: 100%;
  max-width: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: palette(black80); 
  text-align: center;

  @include desktop {
    @include font(desktop, h3);
    height: 48px;
  }

  @include tablet {
    @include font(mobile, h3);
    height: 38px;
  }

  @include mobile {
    @include font(mobile, h3);
    font-size: 12px;
    height: 30px;
  }

  &Active {
    border-radius: 40px;
    background-color: palette(white80);
    transition: background-color .3s ease;
  }
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid palette(white80);
  border-radius: 30px;
  width: 100%;
}

.headers {
  display: flex;
  flex-direction: row;
  gap: 0;
  height: 44px;
  border-bottom: 1px solid palette(white80);


  &Number {
    width: 100%;
    max-width: 69px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
      @include font(desktop, button);
    }

    @include tablet {
      @include font(mobile, button);
    }

    @include mobile {
      @include font(mobile, button);
      font-size: 12px;
    }
  }

  &Title {
    width: 100%;
    max-width: 300px;
    border-left:  1px solid palette(white80);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 7px;

    @include desktop {
      @include font(desktop, button);
    }

    @include tablet {
      @include font(mobile, button);
    }

    @include mobile {
      @include font(mobile, button);
      font-size: 12px;
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  gap: 0;
  height: 44px;
  border-bottom: 1px solid palette(white80);

  &Number {
    width: 100%;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 69px;

    @include desktop {
      @include font(desktop, body-m);
    }

    @include tablet {
      @include font(mobile, body-m);
    }

    @include mobile {
      @include font(mobile, body-s);
    }
  }

  &Text {
    @include font(desktop, body-m);

    font-weight: 400;
    width: 100%;
    border-left:  1px solid palette(white80);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    text-wrap: auto;

    @include desktop {
      @include font(desktop, body-m);
    }

    @include tablet {
      @include font(mobile, body-m);
    }

    @include mobile {
      @include font(mobile, body-s);
    }
  }

  &True {
    background-color: #c0d5d0;
  }

  &False {
    background-color: #d2c6ce;
  }

  &AdditionGuests {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    gap: 80px;
    border-left:  1px solid palette(white80);
  }

  &Amound {
    display: flex;
    flex-direction: row;
    gap: 4px;
    background-color: inherit;
    cursor: pointer;
    border: none;
  }

  &NoAmound {
    cursor: default;
  }

  &Numeric {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
      @include font(desktop, body-m);
    }

    @include tablet {
      @include font(mobile, body-m);
    }

    @include mobile {
      @include font(mobile, body-s);
    }
  }

  &OpenGuests {
    width: 10px;
    height: 5px;
    object-fit: contain;
    align-self: center;
  }

  &OpenGuestsNo {
    opacity: 0;
    cursor: default;
  }

  &CloseGuests {
    transform: rotateX(180deg);
  }

  &Delete {
    position: absolute;
    right: 15px;

    background-color: inherit;
    border: none;
    cursor: pointer;
  }
}

.guests {
  border-bottom: 1px solid palette(white80);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 44px;

  &Title {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
      @include font(desktop, button);
    }

    @include tablet {
      @include font(mobile, button);
    }

    @include mobile {
      @include font(mobile, button);
      font-size: 12px;
    }
  }

  &Text {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  } 
}

.noGuests {
  opacity: 0;
  height: 0;
}

.bottom {
  align-self: flex-end;
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;

  @include desktop {
    @include font(desktop, button);
    max-width: 260px;
  }

  @include tablet {
    @include font(mobile, button);
  } 

  @include mobile {
    @include font(mobile, button);
    font-size: 12px;
    max-width: 120px;
  } 
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px) brightness(95%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &Container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 503px;
    height: 299px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    gap: 24px;
    cursor: default;
  }

  &Title {
    @include font(desktop, h4);
    color: palette(black80);
  }

  &Text{
    @include font(desktop, body-m);
    color: palette(black40);
  }

  &Buttons {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
}

.noPopup {
  display: none;
}