@import "../../../../../../styles/media";
@import "../../../../../../styles/parallax";
@import "../../../../../../styles/colors";
@import "../../../../../../styles/typography";

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.time {
  padding: 12px 10px;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid palette(black60);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}