@import "../../../../styles/media";
@import "../../../../styles/typography";
@import "../../../../styles/parallax";
@import "../../../../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  transform-origin: top left;
  transform: scale(1);
}

.template {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 100%;
  //min-width: 897px;
  padding: 0 0 0 40px;
  box-sizing: border-box;
}

.plug {
  @include font(desktop, body-m);

  width: 100%;
  height: fit-content;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  gap: 24px;
  border-radius: 16px;
  background: palette(whiteGlass30);
  border: 1px solid palette(white100);
}